.p1-body {
    border: 15px solid black;

}

.navbar {
    border: none;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: none;
    position: fixed;
}

.nav-logo {
        text-align: right;
        margin: auto;
        padding-top: 10%;
        padding-left: 13%;
        font-size: 60px;
        width: 300px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    width: 500px;
    margin-left: 60%;
    padding-left: 25%;
    padding-top: 3%;

}

.p1-header {
    border-bottom: 50px solid black;
    padding: 5%;
    align-self: center;
    text-align: center;
}

.img-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
}

.img-p1 {
    border: 15px solid white;

}

.footer {
    border: none;
    display: grid;
    grid-template-columns: 25% 10% 1fr;
    background-color: none;
}

.nav-logo-footer {
            text-align: center;
            margin: auto;
            font-size: 50px;
            width: 300px;
}

.by-author {
    padding-top: 10%;
    padding-right: 10%;
}

.nav-menu-footer {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        text-align: right;
        margin-left: 15%;
        padding-left: 15%;
}




.p2-body {

}

.p2-header {
    padding: 7%;
    align-self: center;
    text-align: center;
    border-bottom: 30px sild pink;
}

.p2-text-grid {
    display: grid;
    grid-template-columns: 30% 1fr;

}
.p2-left {
    width: 250px;
    text-align: center;
    position: relative;
    left: 55%;
    bottom: 2%;
    font-size: 25px;
}

.p2-left-text {
    text-align: left;
    padding-left: 7%;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.p2-right {
    width: 400px;
    position: relative;
    left: 25%;
}

.p2-right-text {
    padding-bottom: 15%;
    font-size: 20px;
}

.p2-footer {
    text-align: center;
    padding: 3%;
    border: 50px solid rgb(253, 230, 235);
}




.p3-body{

}

.p3-header {
    padding: 7%;
    align-self: center;
    text-align: center;

}

.p3-img {
display: flex;
    justify-content: center;
}

.img-p3 {
    max-height: 500px;
    max-width: auto;
    border: 30px solid rgb(253, 230, 235);

}

.p3-text {
    border: 30px solid rgb(253, 230, 235);
    text-align: center;
    padding: 5% 25%;
    font-size: 25px;
}

.p4-body {

}

.p4-header {
    padding: 10%;
    align-self: center;
    text-align: center;
}

.p4-title {
    text-align: center;
}

.p4-email {
    text-align: center;
    padding-bottom: 5%;
}

.form-main {
    display: flex;
    align-self: center;
    width: 300px;
    padding: 0% 37%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.form-ele {
    display: inline-block;
    margin: 0 25%;
    text-align: center;
    margin-top: 15px;
}

.form-services {
        display: inline-block;
            margin: 0 25%;
            text-align: center;
            margin-top: 15px;
}

.form-button {
    padding-top: 10%;
}

.p4-footer {
    border-top: 100px solid white;
    display: grid;
    grid-template-columns: 25% 10% 1fr;
    background-color: none;
}
